In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
import urllib.request
import time

In [2]:
# Create an empty list to store scraped data
data_list = []

<h1>NASA Mars News

In [2]:
# URL of page to be scraped
mars_news_url = 'https://mars.nasa.gov/news/'

# Path for Chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}

# Launch Chrome browser
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Go to url for news about mars
browser.visit(mars_news_url)

# Sleep for 2 seconds
time.sleep(2)

In [4]:
# Get HTML from browser
html = browser.html

# Turn HTML into BeautifulSoup object
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Retrieve the parent item for all news items
results = soup.find_all('li', class_='slide')

<li class="slide"><div class="image_and_description_container"><a href="/news/8339/nasas-curiosity-rover-aims-to-get-its-rhythm-back/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Rover engineers at JPL will try to restore percussive drilling on Mars this week, part of a larger series of tests that will last through summer.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="A test of a new percussive drilling technique at NASA's JPL. Later this week, NASA's Curiosity rover will test percussive drilling on Mars for the first time since December 2016." src="/system/news_items/list_view_images/8339_Curiosity_drill_PIA22324-th.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's Curiosity Rover Aims to Get Its Rhythm Back</h3></div></div></a><div class="list_text"><div class="list_date">May 17, 2018</div><div class="content_title"><a href="/news/8339/nasas-curiosity-rover-aims-to-get-its-rhythm-back/" target="_self">NASA's Curiosity Rover Aims to Get Its Rhythm Back</a></div><div class="article_teaser_body">Rover engineers at JPL will try to restore percussive drilling on Mars this week, part of a larger series of tests that will last through summer.</div></div></div></li>

In [8]:
# Get the header and paragraph text from the first news item
news_paragraph = results[0].find('div', class_='article_teaser_body').text
news_title = results[0].find('h3').text

print(news_paragraph)
print(news_title)

# Add news title and news paragraph as a dictionary to list
#data_list.append({'title':news_title, 'paragraph': news_paragraph})

Rover engineers at JPL will try to restore percussive drilling on Mars this week, part of a larger series of tests that will last through summer.
NASA's Curiosity Rover Aims to Get Its Rhythm Back

In [8]:
# Close and exit browser session
browser.quit()

<h1>JPL Mars Space Images - Featured Image

In [9]:
# URL for featured image of Mars
jpl_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Retrieve page with the requests module
response = requests.get(jpl_image_url)

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [10]:
# Retrieve the item that has the url for featured image
results = soup.find_all('a', class_='button fancybox')

In [11]:
# Get url for featured image
featured_image_url = 'https://www.jpl.nasa.gov'+results[0]['data-fancybox-href']

In [12]:
# Add featured image as a dictionary to list
data_list.append({'title':"Featured Image", 'img_url': featured_image_url})

In [13]:
# Save image
urllib.request.urlretrieve(featured_image_url, 'featured-image.jpg')

('featured-image.jpg', <http.client.HTTPMessage at 0x1d2e93364a8>)

<h1>Mars Weather (Twitter)

In [14]:
# URL for Mars weather twitter account
mars_twitter_url = 'https://twitter.com/marswxreport'

# Retrieve page with the requests module
response = requests.get(mars_twitter_url)

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [15]:
# Retrieve parent item of tweets
results = soup.find_all('div', class_='js-tweet-text-container')

# Store first tweet
mars_weather = results[0].find('p').text

In [16]:
# Add weather as a dictionary to list
data_list.append({'title':"Weather on Mars", 'paragraph': mars_weather})

<h1>Mars Facts

In [2]:
# url for Mars facts
mars_facts_url = "https://space-facts.com/mars"

# Read table from url using pandas
tables = pd.read_html(mars_facts_url)

In [38]:
df = tables[0].set_index(0)

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [39]:
df.rename(columns={1:''}, inplace=True)

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [33]:
del(df.index.name)

                                                  1
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [3]:
# Convert table to HTML
mars_table_html = tables[0].to_html()

In [4]:
# Remove \n from string
mars_table_html = mars_table_html.replace('\n', '')
mars_table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [20]:
# Add table as a dictionary to list
data_list.append({'title':"Facts About Mars", 'table': mars_table_html})

<h1>Mars Hemispheres

In [21]:
# url to search for Mars hemisphere images
mars_hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

# Retrieve page with requests module
response = requests.get(mars_hemi_url)

# Convert to BeautifulSoup object and parse with lxml
soup = BeautifulSoup(response.text, 'lxml')

In [22]:
# Retrieve parent item that has the search results
results = soup.find_all('div', class_='item')

In [25]:
# Loop through the search results
for result in results:
       
    # Find the text from the h3 tag
    img_title = result.find('h3').text
    
    # Strip out unwanted words
    img_title = img_title.replace(' Enhanced', '')
    
    # Find the link to the image
    link = result.find('a')['href']
    
    # Add in https... to link to create full url
    full_link = 'https://astrogeology.usgs.gov' + link
    
    # Retrieve page using requests module
    img_response = requests.get(full_link)
    
    # Convert to BeautifulSoup object and parse using lxml
    img_soup = BeautifulSoup(img_response.text, 'lxml')
    
    # Find all div items that has the url information
    img_results = img_soup.find_all('div', class_='downloads')
    
    # Find url in first result
    img_url = img_results[0].find_all('a')[0]['href']
       
    # Add weather as a dictionary to list
    data_list.append({'title':img_title, 'img_url': img_url})
    
    # Replace spaces with dashes and add JPG as file name extension
    img_file_name = img_title.replace(' ','-')+'.jpg'
    
    # Save image
    urllib.request.urlretrieve(img_url, img_file_name)

In [26]:
data_list

[{'paragraph': 'NASA is adding a Mars helicopter to the agencyâs next mission to the Red Planet, Mars 2020.',
  'title': 'Mars Helicopter to Fly on NASAâs Next Red Planet Rover Mission'},
 {'img_url': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18328_ip.jpg',
  'title': 'Featured Image'},
 {'paragraph': 'Sol 2050 (May 13, 2018), Sunny, high 1C/33F, low -71C/-95F, pressure at 7.37 hPa, daylight 05:21-17:20',
  'title': 'Weather on Mars'},
 {'table': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
  'title': 'Facts About Mars'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere'}]